@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");    

body {
    background-color: blueviolet !important;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}